@(self: models.user.RichUser, user: models.user.RichUser)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.admin(self, "explore", "View User") {
  <div class="content-panel">
    <div class="panel-title">
      <i class="fa @models.template.Icons.user"></i>
      @user.username
      @if(self.id == user.id) { <span>(You)</span> }
    </div>

    <div class="row padded">
      <div class="col s12">
        <em>@user.profile.providerKey</em>
      </div>
      <div class="col s12">
        @if(user.role == models.user.Role.Admin) {
          <em>Administrator</em>
        } else {
          @if(user.role == models.user.Role.User) {
            <em>Normal User</em>
          } else {
            <em>Visitor</em>
          }
        }
      </div>
    </div>
  </div>
  <div class="panel-action">
    <a class="theme-text right" href="@controllers.admin.routes.UserEditController.edit(user.id)">Edit</a>
    <a class="theme-text" href="@controllers.admin.routes.UserEditController.users()">Back to User List</a>
  </div>
}
