@(
    selected: Boolean, key: String, title: String, value: Option[Boolean], nullable: Boolean, dataType: String = "string"
)@views.html.components.form.fieldWrapper(selected = selected, key = key, title = title, nullable = nullable, dataType = dataType) {
  <label for="input-@key-true">
    <input type="radio" id="input-@key-true" name="@key" value="true" @if(value.contains(true)) { checked="checked" } />
    <span>True</span>
  </label>

  <label for="input-@key-false">
    <input type="radio" id="input-@key-false" name="@key" value="false" @if(value.contains(false)) { checked="checked" } />
    <span>False</span>
  </label>

  @if(nullable) {
  <label for="input-@key-null">
    <input type="radio" id="input-@key-null" name="@key" value="null" @if(value.contains(false)) { checked="checked" } />
    <span>Null</span>
  </label>
  }
}
