@(selected: Boolean, key: String, title: String, nullable: Boolean, dataType: String = "string")(content: Html)<tr>
  <td>
    <label for="@{key}.include">
      <input type="checkbox" name="@{key}.include" id="@{key}.include" value="true" @if(selected) { checked="checked" } class="data-input" data-type="@dataType" data-name="@key" />
      <span>@title</span>
    </label>
  </td>
  <td>@if(nullable) {
    <div class="nullable-input-container">
      @content
      <div class="nullable-link" id="nullable-@key">@com.kyleu.projectile.util.NullUtils.str</div>
    </div>
  } else {
    @content
  }</td>
</tr>
