@(name: String, avatarUrl: String)
<ul class="navbar-list right">
  <li class="hide-on-med-and-down"><a class="waves-effect waves-block waves-light toggle-fullscreen" href="" onclick="return false;"><i class="material-icons">@models.template.Icons.fullscreen</i></a></li>
  <li class="hide-on-large-only"><a class="waves-effect waves-block waves-light search-button" href="" onclick="return false;"><i class="material-icons">@models.template.Icons.search</i></a></li>
  <li><a class="waves-effect waves-block waves-light notification-button" href="" onclick="return false;" data-target="notifications-dropdown"><small class="notification-badge" style="right: -22px;">5</small><i class="material-icons">@models.template.Icons.notifications</i></a></li>
  <li><a class="waves-effect waves-block waves-light profile-button" href="javascript:void(0);" data-target="profile-dropdown">
    <span class="avatar-status avatar-online">
      <img src="@avatarUrl" alt="" />
      <i></i>
    </span>
  </a></li>
</ul>

<ul class="dropdown-content" id="notifications-dropdown">
  <li>
    <h6>NOTIFICATIONS<span class="new badge">5</span></h6>
  </li>
  <li class="divider"></li>
  <li><a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span> A new order has been placed!</a>
    <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
  </li>
  <li><a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle red small">stars</span> Completed the task</a>
    <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
  </li>
  <li><a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle teal small">settings</span> Settings updated</a>
    <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
  </li>
  <li><a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle deep-orange small">today</span> Director meeting started</a>
    <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
  </li>
  <li><a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle amber small">trending_up</span> Generate monthly report</a>
    <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
  </li>
</ul>

<ul class="dropdown-content" id="profile-dropdown">
  <li><a class="grey-text text-darken-1" href="/profile"><i class="material-icons">@models.template.Icons.profile</i> Profile</a></li>
  <li><a class="grey-text text-darken-1" href="/profile/signout"><i class="material-icons">@models.template.Icons.signout</i> Sign out</a></li>
</ul>
