@(title: String, fieldName: String, key: String, showPublic: Boolean = false)
<div class="card-panel option-panel">
  <h6><i class="fa @models.template.Icons.user"></i> @title</h6>
  @if(showPublic) { <p>
    <input id="input-@key-visitor" name="@fieldName" type="radio" value="visitor" />
    <label for="input-@key-visitor">Everyone</label>
  </p> }
  <p>
    <input id="input-@key-user" name="@fieldName" type="radio" value="user" />
    <label for="input-@key-user">Registered Users</label>
  </p>
  <p>
    <input id="input-@key-admin" name="@fieldName" type="radio" value="admin" />
    <label for="input-@key-admin">Administrators</label>
  </p>
  <p>
    <input id="input-@key-private" name="@fieldName" type="radio" value="private" />
    <label for="input-@key-private">Only Myself</label>
  </p>
  <div class="clear"></div>
</div>
