@()
<li id="socket-connection-form" class="collection-item">
  <h5>Websocket Connection</h5>
  <div>
    <label for="format-string">
      <input type="radio" id="format-string" name="format" value="string" checked="checked" />
      <span>JSON String</span>
    </label>
  </div>
  <div>
    <label for="format-binary">
      <input type="radio" id="format-binary" name="format" value="binary" />
      <span>Binary</span>
    </label>
  </div>
  <button id="websocket-connect-button" class="btn theme waves-light" style="margin-top: 12px;">Connect</button>
</li>
<li id="socket-connection-table" class="collection-item initially-hidden">
  <a href="" class="theme-text" onclick="window.socket.flood();return false;">Ping Flood</a>
  <table class="responsive">
    <thead>
      <tr>
        <th>Status</th>
        <th>Latency</th>
        <th>Msgs Out</th>
        <th>Bytes Out</th>
        <th>Msgs In</th>
        <th>Bytes In</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="socket-connection-status">Ready to connect</td>
        <td id="socket-connection-latency">n/a</td>
        <td id="socket-connection-sent-messages">0</td>
        <td id="socket-connection-sent-bytes">0</td>
        <td id="socket-connection-received-messages">0</td>
        <td id="socket-connection-received-bytes">0</td>
      </tr>
    </tbody>
  </table>
</li>
<script>
  $(function() {
    $('#websocket-connect-button').on("click", function() {
      var binary = $('#format-binary').is(':checked');
      window.socket = new TestSocketConnection(binary);
    });
  });
</script>
