@(user: Option[models.user.User])<ul id="dropdown-user" class="dropdown-content">
  @if(user.isEmpty) {
  <li><a class="theme-text" href="@controllers.auth.routes.AuthenticationController.signInForm()">Sign In</a></li>
  } else {
  @if(user.exists(_.role == models.user.Role.Admin)) {
  <li><a class="theme-text" href="@controllers.admin.system.routes.AdminController.index()">Admin</a></li>
  }
  <li><a class="theme-text" href="@controllers.routes.ProfileController.view()">Profile</a></li>
  <li><a class="theme-text" href="@controllers.auth.routes.AuthenticationController.signOut()">Sign Out</a></li>
  }
  <li><a class="theme-text" href="@util.Config.projectUrl" target="_blank">About</a></li>
</ul>
