logs
conf/generated.keystore
project/project/target
project/target
doc/src/main/graphdoc
target
tmp
.history
dist
/.idea
/*.iml
/out
/data/backup
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

buildinfo.properties
