@(model: models.audit.Audit)<tr>
  <td><a href="@controllers.admin.audit.routes.AuditController.view(model.id)" class="theme-text">@model.id</a></td>
  <td>@model.act</td>
  <td>@model.app</td>
  <td>@model.client</td>
  <td>@model.server</td>
  <td>@model.userId.map { u =>
    @u.toString.take(8)
    <a class="theme-text" href="@controllers.admin.user.routes.UserController.view(u)">
      <i class="fa @models.template.Icons.user"></i>
    </a>
  }</td>
  <td>@model.tags.map(t => t._1 + ": " + t._2).mkString(", ")</td>
  <td>@model.msg</td>
  <td>@model.started</td>
  <td>@model.completed</td>
</tr>
