@(user: models.user.SystemUser, totalCount: Option[Int], modelSeq: Seq[models.audit.Audit], q: Option[String], orderBy: Option[String], orderAsc: Boolean, limit: Int, offset: Int)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: util.tracing.TraceData
)@traceData.logViewClass(getClass)
@views.html.admin.explore.list(
  user = user,
  model = "Audit",
  modelPlural = "Audits",
  icon = models.template.Icons.audit,
  cols = Seq(
    "id" -> "Id",
    "act" -> "Act",
    "app" -> "App",
    "client" -> "Client",
    "server" -> "Server",
    "userId" -> "User Id",
    "tags" -> "Tags",
    "msg" -> "Message",
    "started" -> "Started",
    "completed" -> "Completed",
  ),
  totalCount = totalCount,
  rows = modelSeq.map(model => views.html.admin.audit.auditDataRow(model)),
  orderBy = orderBy,
  orderAsc = orderAsc,
  calls = models.result.web.ListCalls(
    newCall = Some(controllers.admin.audit.routes.AuditController.createForm()),
    orderBy = Some(controllers.admin.audit.routes.AuditController.list(q, _, _, Some(limit), Some(0))),
    search = Some(controllers.admin.audit.routes.AuditController.list(None, orderBy, orderAsc, Some(limit), None)),
    next = controllers.admin.audit.routes.AuditController.list(q, orderBy, orderAsc, Some(limit), Some(offset + limit)),
    prev = controllers.admin.audit.routes.AuditController.list(q, orderBy, orderAsc, Some(limit), Some(offset - limit))
  ),
  limit = limit,
  offset = offset,
  section = "audit",
  q = q
)
