@(model: models.audit.Audit)<tr>
  <td><a href="@controllers.admin.audit.routes.AuditController.view(model.id)" class="theme-text">@model.id</a></td>
  <td>@model.act</td>
  <td>@model.app</td>
  <td>@model.client</td>
  <td>@model.server</td>
  <td>
    @model.userId.toString.take(8)
    <a class="theme-text" href="@controllers.admin.user.routes.SystemUserController.view(model.userId)">
      <i class="fa @models.template.Icons.systemUser"></i>
    </a>
  </td>
  <td>@models.tag.Tag.toString(model.tags)</td>
  <td>@model.msg</td>
  <td>@model.started</td>
  <td>@model.completed</td>
</tr>
