@(records: Seq[models.audit.AuditRecord], model: String, title: String, pk: Any*)
<div class="collection-item">
  @if(records.isEmpty) {
    <i>
      No audit records available for this @title.
    </i>
  } else {
    @records.size @if(records.lengthCompare(1) == 0) { audit record } else { audit records } available for this @title.
    <table class="bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Audit</th>
          <th>Type</th>
          <th>PK</th>
          <th>Changes</th>
        </tr>
      </thead>
      <tbody>
        @records.map { record =>
          <tr>
            <td><a href="@controllers.admin.audit.routes.AuditRecordController.view(record.id)" class="theme-text">@record.id</a></td>
            <td><a href="@controllers.admin.audit.routes.AuditController.view(record.auditId)" class="theme-text">@record.auditId</a></td>
            <td>@record.t</td>
            <td>@record.pk.mkString(", ")</td>
            <td>
              @defining(record.changes.as[Seq[models.audit.AuditField]].right.get) { changes =>
                @if(changes.isEmpty) {
                  <em>No changes</em>
                } else {
                  <table>
                  @changes.map { c =>
                    <tr>
                      <td>@c.k</td>
                      <td>@c.o.getOrElse(util.NullUtils.str)</td>
                      <td>@c.n.getOrElse(util.NullUtils.str)</td>
                    </tr>
                  }
                  </table>
                }
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>
