@(user: models.user.SystemUser, devmode: Boolean)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: util.tracing.TraceData
)@traceData.logViewClass(getClass)@views.html.admin.layout.page(user, "status", "Audit Activity") {
  <div class="row">
    <div class="col s12">
      <ul id="activity-log" class="collection with-header">
        <li class="collection-header">
          <h4>Live @util.Config.projectName Activity!</h4>
        </li>
      </ul>
    </div>
  </div>
  @views.html.components.includeScalaJs(devmode)
  <script>
    $(function() {
      var binary = false;
      window.socket = new AuditSocketConnection(binary);
    });
  </script>
}
