@(user: models.user.User, model: models.audit.AuditRecord, title: String, cancel: Call, act: Call, isNew: Boolean = false, debug: Boolean = false)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: util.tracing.TraceData
)@traceData.logViewClass(getClass)@views.html.admin.layout.page(user, "audit", title) {
  <form id="form-edit-auditRecord" action="@act" method="post">
    <div class="collection with-header">
      <div class="collection-header">
        <div class="right"><button type="submit" class="btn theme">@if(isNew) {Create} else {Save} Audit Record</button></div>
        <div class="right"><a href="@cancel" class="theme-text cancel-link">Cancel</a></div>
        <h5><i class="fa @models.template.Icons.auditRecord"></i> @title</h5>
      </div>
      <div class="collection-item">
        <table class="highlight">
          <tbody>
            <tr>
              <td>
                <input type="checkbox" name="id.include" id="id.include" value="true" @if(isNew) { checked="checked" } class="data-input" data-type="uuid" data-name="id" />
                <label for="id.include">Id</label>
              </td>
              <td>
                <input id="input-id" type="text" name="id" value="@model.id" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="auditId.include" id="auditId.include" value="true" @if(isNew) { checked="checked" } class="data-input" data-type="uuid" data-name="auditId" />
                <label for="auditId.include">Audit Id</label>
              </td>
              <td>
                <input id="input-auditId" type="text" name="auditId" value="@model.auditId" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="t.include" id="t.include" value="true" @if(isNew) { checked="checked" } class="data-input" data-type="string" data-name="t" />
                <label for="t.include">T</label>
              </td>
              <td>
                <input id="input-t" type="text" name="t" value="@model.t" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="pk.include" id="pk.include" value="true" @if(isNew) { checked="checked" } class="data-input" data-type="array" data-name="pk" />
                <label for="pk.include">Pk</label>
              </td>
              <td>
                <input id="input-pk" type="text" name="pk" value="@model.pk" />
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="changes.include" id="changes.include" value="true" @if(isNew) { checked="checked" } class="data-input" data-type="unknown" data-name="changes" />
                <label for="changes.include">Changes</label>
              </td>
              <td>
                <input id="input-changes" type="text" name="changes" value="@model.changes" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
}
@views.html.components.includeScalaJs(debug)
<script>$(function() { new FormService('form-edit-auditRecord'); })</script>
