@(user: models.user.User, startJson: String, debug: Boolean)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: util.tracing.TraceData
)@traceData.logViewClass(getClass)@views.html.admin.layout.page(user, "audit", "Audit Test Form") {
  <div class="row">
    <div class="col s12">
      <ul class="collection with-header">
        <li class="collection-header">
          <h4>Audit Test Form</h4>
        </li>
        @defining("height: 320px; font: 'Consolas', 'Inconsolata', 'Droid Sans Mono', 'Monaco', monospace;") { taStyle =>
          <li class="collection-item">
            <h5>Start Audit</h5>
            <textarea id="start-textarea" name="content" style="@taStyle">@startJson</textarea>
            <button id="start-submit" class="btn theme">Submit</button>
          </li>
          <li id="complete-section" class="collection-item" style="display: none;">
            <h5>Complete Audit</h5>
            <textarea id="complete-textarea" name="content" style="@taStyle">{
  "id": "???",
  "msg": "...",
  "tags": {
    "x": "z",
    "key": "val"
  },
  "inserted": [
    { "t": "note", "pk": ["11111111-1111-1111-1111-111111111111"] }
  ]
}</textarea>
            <button id="complete-submit" class="btn theme">Submit</button>
          </li>
          <li id="success-section" class="collection-item" style="display: none;">
            <h5>Success!</h5>
          </li>
        }
      </ul>
    </div>
  </div>
  <script>
    var originalText = '?';

    function onStartSuccess(rsp) {
      if(rsp.status === 'OK') {
        console.log(rsp.id);
        $('#complete-textarea').val(originalText.replace('???', rsp.id));
        $('#complete-section').show();
      } else {
        console.error('Received status [' + rsp.status + '].', rsp);
      }
    }

    function onCompleteSuccess(rsp) {
      console.log(rsp);
      $('#success-section').show();
    }

    $(function() {
      originalText = $('#complete-textarea').val();

      $("#start-submit").on("click", function() {
        var json;
        try {
          json = JSON.parse($("#start-textarea").val());
        } catch(e) {
          alert('Invalid json.');
        }
        console.log(json);
        $.post({
          type: 'POST',
          url: '@controllers.admin.audit.routes.AuditLifecycleController.start()',
          data: JSON.stringify(json),
          contentType: "application/json",
          dataType: 'json'
        }).done(onStartSuccess);
      });

      $("#complete-submit").on("click", function() {
        var json;
        try {
          json = JSON.parse($("#complete-textarea").val());
        } catch(e) {
          alert('Invalid json.');
        }
        console.log(json);
        $.post({
          type: 'POST',
          url: '@controllers.admin.audit.routes.AuditLifecycleController.complete()',
          data: JSON.stringify(json),
          contentType: "application/json",
          dataType: 'json'
        }).done(onCompleteSuccess);
      });
    });
  </script>
}
