@(user: Option[models.user.User], form: Form[models.user.RegistrationData])(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: util.tracing.TraceData
)@traceData.logViewClass(getClass)@layout.simple(user = user, title = "Register for " + util.Config.projectName) {
  <form method="post" action="@controllers.auth.routes.RegistrationController.register()">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <div class="card-title">Register for @util.Config.projectName</div>
            <p>
              You're creating an account for this local installation of @util.Config.projectName.
              No information leaves your server.
            </p>
            <div class="row">
              <div class="input-field col s12">
                <input id="input-username" type="text" class="form-control validate" name="username" value="@form("username").value" />
                <label for="input-username">Username</label>
              </div>
              @form.error("username").map { e =>
                <div><em>e.message</em></div>
              }
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="input-email" type="email" class="form-control validate" name="email" value="@form("email").value" />
                <label for="input-email">Email</label>
              </div>
              @form.error("email").map { e =>
                <div><em>@e.message</em></div>
              }
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="input-password" type="password" class="form-control validate" name="password" value="@form("password").value" />
                <label for="input-password">Password</label>
              </div>
              @form.error("password").map { e =>
                <div><em>@e.message</em></div>
              }
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="input-passwordConfirm" type="password" class="form-control validate" name="passwordConfirm" value="@form("password").value" />
                <label for="input-passwordConfirm">Confirm Password</label>
              </div>
              @form.error("password").map { e =>
                <div><em>@e.message</em></div>
              }
            </div>
          </div>
          <div class="card-action">
            <button class="right btn blue-grey waves-effect waves-light" type="submit">Register</button>
            <div class="clear"></div>
          </div>
        </div>
        <div>
          <p style="text-align: center;">
            Already a member?
            <a class="theme-text" href="@controllers.auth.routes.AuthenticationController.signInForm()">Sign In</a>
          </p>
        </div>
      </div>
    </div>
  </form>
}
