@(user: Option[models.user.User], form: Form[com.mohiva.play.silhouette.api.util.Credentials], allowRegistration: Boolean)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: util.tracing.TraceData
)@traceData.logViewClass(getClass)@layout.simple(user = user, title = "Sign in to " + util.Config.projectName) {
  <form method="post" action="@controllers.auth.routes.AuthenticationController.authenticateCredentials()">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Sign in to @util.Config.projectName</span>
            <p>
              This account is only for this installation of @util.Config.projectName.
              No information leaves your server, this is only a local account.
            </p>
            <div class="row">
              <div class="input-field col s12">
                <input id="input-email" type="email" class="form-control validate" name="email" value="@form("email").value" />
                <label for="input-email">Email</label>
              </div>
              @form.error("email").map { e =>
                <div><em>@e.message</em></div>
              }
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input id="input-password" type="password" class="form-control validate" name="password" value="@form("password").value" />
                <label for="input-password">Password</label>
              </div>
              @form.error("password").map { e =>
                <div><em>@e.message</em></div>
              }
            </div>
          </div>
          <div class="card-action">
            <button class="right btn blue-grey waves-effect waves-light" type="submit">Sign In</button>
            <div class="clear"></div>
          </div>
        </div>
        <div>
          <p style="text-align: center;">
            @if(allowRegistration) {
              Not a member?
              <a class="theme-text" href="@controllers.auth.routes.RegistrationController.registrationForm()">Sign Up</a>.
            } else {
              Registration is disabled on this server. Contact your administrator to get an account.
            }
          </p>
        </div>
      </div>
    </div>
  </form>
}
