@(user: com.kyleu.projectile.models.user.SystemUser, cfg: com.kyleu.projectile.models.config.UiConfig)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@com.kyleu.projectile.views.html.layout.page(util.Version.projectName + " Administration", cfg) {
  <ul class="collection with-header">
    <li class="collection-header">
      <h5>@util.Version.projectName Administration</h5>
      Use the menu above or the links below to get started!
    </li>
    <li class="collection-item">
      <a href="@controllers.admin.system.routes.AdminController.explore()">Explore</a>
      <div><em>Manage the models of the system</em></div>
    </li>
    <li class="collection-item">
      <a href="@com.kyleu.projectile.controllers.graphql.routes.GraphQLController.graphql()">GraphQL</a>
      <div><em>
        Query the system using GraphQL or view the
        <a href="@com.kyleu.projectile.controllers.graphql.routes.SchemaController.voyager("Query")">query</a> or
        <a href="@com.kyleu.projectile.controllers.graphql.routes.SchemaController.voyager("Mutation")">mutation</a> schema
      </em></div>
    </li>
    <li class="collection-item">
      <a href="@com.kyleu.projectile.controllers.rest.routes.OpenApiController.ui()">Rest</a>
      <div><em>Send http requests and view the results</em></div>
    </li>
  </ul>
}
