@(user: com.kyleu.projectile.models.user.SystemUser, cfg: com.kyleu.projectile.models.config.UiConfig, json: String)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@com.kyleu.projectile.components.views.html.layout.page(util.Version.projectName + " Metrics", cfg) {
  <div class="row">
    <div class="col s12">
      <div class="collection with-header">
        <div class="collection-header">
          <h5>@util.Version.projectName Metrics</h5>
        </div>
        <div class="collection-item">
          <pre style="padding: 15px;">@json</pre>
        </div>
      </div>
    </div>
  </div>
}
