@(user: com.kyleu.projectile.models.user.SystemUser, authActions: com.kyleu.projectile.models.auth.AuthActions, json: String)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: com.kyleu.projectile.util.tracing.TraceData
)@traceData.logClass(getClass)@com.kyleu.projectile.views.html.admin.layout.page(user, authActions, "status", util.Config.projectName + " Metrics") {
  <div class="row">
    <div class="col s12">
      <div class="collection with-header">
        <div class="collection-header">
          <h5>@util.Config.projectName Metrics</h5>
        </div>
        <div class="collection-item">
          <pre style="padding: 15px;">@json</pre>
        </div>
      </div>
    </div>
  </div>
}
