@(user: models.user.User, settingsService: services.settings.SettingsService)(implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: util.tracing.TraceData)
@import models.settings.SettingKey

@settingPanel(key: models.settings.SettingKey, colWidth: Int = 12)(content: Html) = {
  <div class="col s12 m@colWidth">
    <div class="setting-panel">
      <strong>@key.title</strong>
      <div class="setting-input">@content</div>
      <em>@key.description</em>
    </div>
  </div>
}

@roleRadio(name: String, r: models.user.Role, selected: models.user.Role, title: String) = {
  <div>
    <input type="radio" id="role-@name-@r" name="@name" value="@r" @if(selected == r) { checked="checked" }></input>
    <label for="role-@name-@r">@title</label>
  </div>
}

@traceData.logViewClass(getClass)

@layout.admin(user, "status", "System Preferences") {
  <form action="@controllers.admin.system.routes.SettingsController.saveSettings()" method="post">
    <div class="content-panel">
      <div class="panel-title"><i class="fa @models.template.Icons.settings"></i> System Preferences</div>

      <div class="row">
        @settingPanel(SettingKey.AllowRegistration) {
          <div class="row">
            <div class="col s12">
            @defining(settingsService.allowRegistration) { allowRegistration =>
              <div>
                <input type="radio" id="AllowRegistration-true" name="@SettingKey.AllowRegistration" value="true" @if(allowRegistration) { checked="checked" }></input>
                <label for="AllowRegistration-true">Yes</label>
              </div>
              <div>
                <input type="radio" id="AllowRegistration-false" name="@SettingKey.AllowRegistration" value="false" @if(!allowRegistration) { checked="checked" }></input>
                <label for="AllowRegistration-false">No</label>
              </div>
            }
            </div>
          </div>
        }

        @settingPanel(SettingKey.DefaultNewUserRole) {
          <div class="row">
            <div class="col s12">
            @defining(models.user.Role.withName(settingsService(SettingKey.DefaultNewUserRole))) { newUserRole =>
              @roleRadio(SettingKey.DefaultNewUserRole.toString, models.user.Role.User, newUserRole, "Registered Users")
              @roleRadio(SettingKey.DefaultNewUserRole.toString, models.user.Role.Admin, newUserRole, "Administrators")
            }
            </div>
          </div>
        }
      </div>
    </div>
    <div class="panel-action">
      <button class="right btn theme waves-effect waves-light" type="submit">Save</button>
      <a class="right theme-text btn-flat" href="@controllers.admin.system.routes.AdminController.index()">Cancel</a>
      <div class="clear"></div>
    </div>
  </form>
}
