@(user: com.kyleu.projectile.models.user.SystemUser, settingService: services.settings.SettingsService)(implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: com.kyleu.projectile.util.tracing.TraceData)
@import models.settings.SettingKeyType

@settingPanel(key: models.settings.SettingKeyType, colWidth: Int = 12)(content: Html) = {
  <div class="collection-item">
    <div class="setting-panel">
      <strong>@key.title</strong>
      <div class="setting-input">@content</div>
      <em>@key.description</em>
    </div>
  </div>
}

@roleRadio(name: String, r: com.kyleu.projectile.models.user.Role, selected: com.kyleu.projectile.models.user.Role, title: String) = {
  <div>
    <label for="role-@name-@r">
      <input type="radio" id="role-@name-@r" name="@name" value="@r" @if(selected == r) { checked="checked" } />
      <span>@title</span>
    </label>
  </div>
}

@traceData.logClass(getClass)

@views.html.admin.layout.page(user, "status", "System Preferences") {
  <div class="static-container container">
  <form action="@controllers.admin.system.routes.SettingsController.saveSettings()" method="post">
    <div class="collection with-header">
      <div class="collection-header">
        <h4><i class="fa @models.template.Icons.settings"></i> System Preferences</h4>
      </div>

      @settingPanel(SettingKeyType.AllowRegistration) {
        @defining(settingService.allowRegistration) { allowRegistration =>
          <div>
            <label for="AllowRegistration-true">
              <input type="radio" id="AllowRegistration-true" name="@SettingKeyType.AllowRegistration" value="true" @if(allowRegistration) { checked="checked" } />
              <span>Yes</span>
            </label>
          </div>
          <div>
            <label for="AllowRegistration-false">
              <input type="radio" id="AllowRegistration-false" name="@SettingKeyType.AllowRegistration" value="false" @if(!allowRegistration) { checked="checked" } />
              <span>No</span>
            </label>
          </div>
        }
      }

      @settingPanel(SettingKeyType.DefaultNewUserRole) {
        <div>
          @defining(com.kyleu.projectile.models.user.Role.withValue(settingService(SettingKeyType.DefaultNewUserRole))) { newUserRole =>
            @roleRadio(SettingKeyType.DefaultNewUserRole.toString, com.kyleu.projectile.models.user.Role.User, newUserRole, "Registered Users")
            @roleRadio(SettingKeyType.DefaultNewUserRole.toString, com.kyleu.projectile.models.user.Role.Admin, newUserRole, "Administrators")
          }
        </div>
      }
    </div>
    <div class="panel-action">
      <button class="right btn theme waves-effect waves-light" type="submit">Save</button>
      <a class="right theme-text btn-flat" href="@controllers.admin.system.routes.AdminController.index()">Cancel</a>
      <div class="clear"></div>
    </div>
  </form>
  </div>
}
