@(user: models.user.SystemUser, settingService: services.settings.SettingsService)(implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: util.tracing.TraceData)
@import models.settings.SettingKey

@settingPanel(key: models.settings.SettingKey, colWidth: Int = 12)(content: Html) = {
  <div class="collection-item">
    <div class="setting-panel">
      <strong>@key.title</strong>
      <div class="setting-input">@content</div>
      <em>@key.description</em>
    </div>
  </div>
}

@roleRadio(name: String, r: models.user.Role, selected: models.user.Role, title: String) = {
  <div>
    <input type="radio" id="role-@name-@r" name="@name" value="@r" @if(selected == r) { checked="checked" } />
    <label for="role-@name-@r">@title</label>
  </div>
}

@traceData.logViewClass(getClass)

@views.html.admin.layout.page(user, "status", "System Preferences") {
  <div class="static-container container">
  <form action="@controllers.admin.system.routes.SettingsController.saveSettings()" method="post">
    <div class="collection with-header">
      <div class="collection-header">
        <h4><i class="fa @models.template.Icons.settings"></i> System Preferences</h4>
      </div>

      @settingPanel(SettingKey.AllowRegistration) {
        @defining(settingService.allowRegistration) { allowRegistration =>
          <div>
            <input type="radio" id="AllowRegistration-true" name="@SettingKey.AllowRegistration" value="true" @if(allowRegistration) { checked="checked" } />
            <label for="AllowRegistration-true">Yes</label>
          </div>
          <div>
            <input type="radio" id="AllowRegistration-false" name="@SettingKey.AllowRegistration" value="false" @if(!allowRegistration) { checked="checked" } />
            <label for="AllowRegistration-false">No</label>
          </div>
        }
      }

      @settingPanel(SettingKey.DefaultNewUserRole) {
        <div class="collection-item">
          @defining(models.user.Role.withValue(settingService(SettingKey.DefaultNewUserRole))) { newUserRole =>
            @roleRadio(SettingKey.DefaultNewUserRole.toString, models.user.Role.User, newUserRole, "Registered Users")
            @roleRadio(SettingKey.DefaultNewUserRole.toString, models.user.Role.Admin, newUserRole, "Administrators")
          }
        </div>
      }
    </div>
    <div class="panel-action">
      <button class="right btn theme waves-effect waves-light" type="submit">Save</button>
      <a class="right theme-text btn-flat" href="@controllers.admin.system.routes.AdminController.index()">Cancel</a>
      <div class="clear"></div>
    </div>
  </form>
  </div>
}
