@(user: models.user.SystemUser, channels: Seq[(String, Seq[models.supervisor.SocketDescription])])(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: util.tracing.TraceData
)@traceData.logViewClass(getClass)@views.html.admin.layout.page(user, "status", util.Config.projectName + " Status") {
  <ul class="collection with-header">
    <li class="collection-header">
      <h5><i class="fa @models.template.Icons.settings"></i> @util.Config.projectName Active Sockets</h5>
    </li>
    <li class="collection-item">
      @if(channels.isEmpty) {
        <em>
          No active sockets. Why not <a href="/" target="_blank" class="theme-text">start one</a>?
        </em>
      } else {
        <table class="bordered">
          <tbody>
          @channels.map { channel =>
            <tr><td colspan="4"><h5>@channel._1</h5></td></tr>
            <tr>
              <th>Socket ID</th>
              <th>User ID</th>
              <th>Username</th>
              <th>Started</th>
            </tr>
            @channel._2.map { socket =>
              <tr>
                <td>@socket.socketId</td>
                <td><a href="@controllers.admin.user.routes.SystemUserController.view(socket.userId)" class="theme-text">@socket.userId</a></td>
                <td>@socket.name</td>
                <td>@socket.started</td>
              </tr>
            }
          }
          </tbody>
        </table>
      }
    </li>
  </ul>
}
