@(user: models.user.User)(implicit request: Request[AnyContent], session: Session, flash: Flash)
@layout.admin(user, "status", util.Config.projectName + " Status") {
  <div class="content-panel">
    <div class="panel-title"><i class="fa @models.template.Icons.settings"></i> @util.Config.projectName Status</div>

    <div class="row">
      <div class="col s12">
        <ul class="collection">
          <li class="collection-item">
            <a href="@controllers.admin.routes.MetricsController.showMetrics()" class="theme-text">Configuration</a>
            <div>Metrics</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel-action">
    <a class="theme-text" href="@controllers.admin.routes.AdminController.index()">Back</a>
  </div>
}
