@(user: com.kyleu.projectile.models.user.SystemUser, authActions: com.kyleu.projectile.models.auth.AuthActions, procs: Seq[models.process.CachedProc])(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: com.kyleu.projectile.util.tracing.TraceData
)@traceData.logClass(getClass)@com.kyleu.projectile.views.html.admin.layout.page(user, authActions, "status", util.Config.projectName + " Status") {
  <ul class="collection with-header">
    <li class="collection-header">
      <div class="right">
        <form action="@controllers.admin.system.routes.ProcessController.run()">
          <input name="cmd" placeholder="Run new process" />
        </form>
      </div>
      <h5><i class="fa @models.template.Icons.process"></i> System Processes</h5>
    </li>
    @procs.map { proc =>
      <li class="collection-item">
        <div><a class="theme-text" href="@controllers.admin.system.routes.ProcessController.detail(proc.id)">@proc.id</a></div>
        <div>@proc.cmd.mkString(" ")</div>
        <div>@proc.started.map(com.kyleu.projectile.util.DateUtils.niceDateTime)</div>
        <div class="clear"></div>
      </li>
    }
  </ul>
}
