@(user: models.user.SystemUser, model: models.user.SystemUser, notes: Seq[models.note.Note], auditRecords: Seq[models.audit.AuditRecord], debug: Boolean)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: util.tracing.TraceData
)@traceData.logViewClass(getClass)@views.html.admin.layout.page(user, "explore", s"User [${model.id}]") {
  <div class="collection with-header">
    <div class="collection-header">
      <div class="right"><a class="theme-text" href="@controllers.admin.user.routes.SystemUserController.editForm(model.id)">Edit</a></div>
      <div class="right"><a class="theme-text remove-link" onclick="return confirm('Are you sure you want to remove this User?')" href="@controllers.admin.user.routes.SystemUserController.remove(model.id)">Remove</a></div>
      <h5>
        <a class="theme-text" href="@controllers.admin.user.routes.SystemUserController.list()"><i class="fa @models.template.Icons.systemUser"></i></a>
        User [@model.id]
      </h5>
    </div>
    <div class="collection-item">
      <table class="highlight">
        <tbody>
          <tr>
            <th>Id</th>
            <td>@model.id</td>
          </tr>
          <tr>
            <th>Username</th>
            <td>@model.username</td>
          </tr>
          <tr>
            <th>Provider</th>
            <td>@model.profile.providerID</td>
          </tr>
          <tr>
            <th>Key</th>
            <td>@model.profile.providerKey</td>
          </tr>
          <tr>
            <th>Prefs</th>
            <td>@model.prefs</td>
          </tr>
          <tr>
            <th>Role</th>
            <td>@model.role</td>
          </tr>
          <tr>
            <th>Created</th>
            <td>@model.created</td>
          </tr>
        </tbody>
      </table>
    </div>
    @views.html.admin.note.notes(notes, "systemUser", "User", model.id)
    @views.html.admin.audit.auditRecords(auditRecords, "systemUser", "User", model.id)
  </div>

  <ul id="model-relations" class="collapsible" data-collapsible="expandable">
    <li id="relation-note-author" data-table="note" data-field="author" data-singular="Note" data-plural="Notes" data-url="@controllers.admin.note.routes.NoteController.byAuthor(model.id, limit = Some(5))">
      <div class="collapsible-header">
        <i class="fa @models.template.Icons.note"></i>
        <span class="title">Notes</span>&nbsp;by Author
      </div>
      <div class="collapsible-body"><span>Loading...</span></div>
    </li>
  </ul>
  @views.html.components.includeScalaJs(debug)
  <script>$(function() { new RelationService('@controllers.admin.user.routes.SystemUserController.relationCounts(model.id)') });</script>
}
