@(self: models.user.User, model: models.user.User)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: util.tracing.TraceData
)@traceData.logViewClass(getClass)@layout.admin(self, "explore", "View User") {
  <div class="collection with-header">
    <div class="collection-header">
      <div class="right"><a class="theme-text" href="@controllers.admin.user.routes.UserController.editForm(model.id)">Edit</a></div>
      <h5>
        <i class="fa @models.template.Icons.user"></i>
        User [@model.id] @if(self.id == model.id) { <span>(You)</span> }
      </h5>
    </div>

    <div class="collection-item">
      <table class="highlight">
        <tbody>
          <tr><th>Id</th><td>@model.id</td></tr>
          <tr><th>Username</th><td>@model.username</td></tr>
          <tr><th>Theme</th><td>@model.preferences.theme</td></tr>
          <tr><th>Email</th><td>@model.profile.providerKey</td></tr>
          <tr>
            <th>Role</th>
            <td>
            @if(model.role == models.user.Role.Admin) {
              <em>Administrator</em>
            } else {
              @if(model.role == models.user.Role.User) {
                <em>Normal User</em>
              } else {
                <em>Visitor</em>
              }
            }
            </td>
          </tr>
          <tr><th>Created</th><td>@model.created</td></tr>
        </tbody>
      </table>
    </div>
  </div>
}
