@(self: models.user.User)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.admin(self, "explore", "New User") {
  <form action="@controllers.admin.routes.UserCreateController.create()" method="post">
    <div class="content-panel">
      <div class="panel-title">
        <i class="fa @models.template.Icons.user"></i> New User
      </div>

      <div class="padded horizontal">
        <div class="row">
          <div class="input-field col s12">
            <input id="input-username" type="text" class="form-control validate" name="username" value="" />
            <label for="input-username">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="input-email" type="email" class="form-control validate" name="email" value="" />
            <label for="input-email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="input-password" type="password" class="form-control validate" name="password" value="" />
            <label for="input-password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <p>
              <input type="radio" name="role" value="admin" id="admin-radio" />
              <label for="admin-radio">Administrator</label>

              <input type="radio" name="role" id="user-radio" value="user" />
              <label for="user-radio">Normal User</label>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-action padded">
      <a class="theme-text right" onclick="$('form').submit();return false;">Create</a>
      <a class="theme-text" href="@controllers.admin.routes.UserEditController.list()">Cancel</a>
    </div>
  </form>
}
