@(user: models.user.User, q: Option[String], orderBy: Option[String], orderAsc: Boolean, totalCount: Option[Int], users: Seq[models.user.User], limit: Int, offset: Int)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: util.tracing.TraceData
)

@resultFor(user: models.user.User) = {
  <tr>
    <td><a class="theme-text" href="@controllers.admin.user.routes.UserController.view(user.id)">@user.id</a></td>
    <td>@user.username</td>
    <td>@user.profile.providerKey</td>
    <td><div class="theme-swatch" style="background-color: @user.preferences.theme.color"></div></td>
    <td>@user.role</td>
    <td>@util.DateUtils.niceDate(user.created.toLocalDate)</td>
    <td>@defining(s"return confirm('Are you certain you want to delete this user (${user.username})?');") { onClick =>
      <a class="theme-text" onclick="@onClick" href="@controllers.admin.user.routes.UserController.remove(user.id)"><i class="fa fa-close"></i></a>
    }</td>
  </tr>
}

@traceData.logViewClass(getClass)

@views.html.admin.explore.list(
  user = user,
  model = "User",
  modelPlural = "Users",
  icon = models.template.Icons.user,
  cols = Seq(
    "id" -> "ID",
    "username" -> "Username",
    "provider" -> "Email",
    "theme" -> "Theme",
    "role" -> "Role",
    "created" -> "Created",
    "actions" -> ""
  ),
  orderBy = orderBy,
  orderAsc = orderAsc,
  rows = users.map(resultFor),
  totalCount = totalCount,
  newUrl = Some(controllers.admin.user.routes.UserController.createForm()),
  orderByUrl = Some(controllers.admin.user.routes.UserController.list(q, _, _, Some(limit), Some(0))),
  searchUrl = Some(controllers.admin.user.routes.UserController.list(None, orderBy, orderAsc, Some(limit), None)),
  nextUrl = controllers.admin.user.routes.UserController.list(q, orderBy, orderAsc, Some(limit), Some(offset + limit)),
  limit = limit,
  offset = offset,
  q = q
)
