@(rsp: models.rest.response.RestResponse)
<ul class="collapsible" data-collapsible="expandable">
  <li>
    <div class="collapsible-header active">
      <div class="right">@rsp.status</div>
      <i class="fa @models.template.Icons.url"></i> @rsp.url.toString
    </div>
    <div class="collapsible-body">
      <table>
        <tbody>
          <tr>
            <th>Source</th>
            <td>@rsp.source</td>
          </tr>
          <tr>
            <th>Started By</th>
            <td>@rsp.startedBy</td>
          </tr>
          <tr>
            <th>Started</th>
            <td>@rsp.started</td>
          </tr>
          <tr>
            <th>Completed</th>
            <td>@rsp.completed (@{rsp.durationMs}ms)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
  <li>
    <div class="collapsible-header active">
      <i class="fa @models.template.Icons.url"></i> @rsp.url
    </div>
    <div class="collapsible-body">
      <table>
        <tbody>
          <tr>
            <th>Status</th>
            <td>@rsp.status - @rsp.statusText</td>
          </tr>
          @rsp.contentType.map { c =>
          <tr>
            <th>Content Type</th>
            <td>c + ": " + c.mt</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </li>
  @if(rsp.headers.nonEmpty) {
  <li>
    <div class="collapsible-header active">
      <i class="fa @models.template.Icons.url"></i> @rsp.headers.size Headers
    </div>
    <div class="collapsible-body">
      <ul>
        @rsp.headers.map { c =>
          <li>@c</li>
        }
      </ul>
    </div>
  </li>
  }
  @if(rsp.cookies.nonEmpty) {
  <li>
    <div class="collapsible-header active">
      <i class="fa @models.template.Icons.url"></i> @rsp.cookies.size Cookies
    </div>
    <div class="collapsible-body">
      <ul>
        @rsp.cookies.map { c =>
          <li>@c</li>
        }
      </ul>
    </div>
  </li>
  }
  @if(rsp.logs.nonEmpty) {
  <li>
    <div class="collapsible-header active">
      <i class="fa @models.template.Icons.url"></i> @rsp.logs.size Logs
    </div>
    <div class="collapsible-body">
      <ul>
        @rsp.logs.map { l =>
          <li>@l</li>
        }
      </ul>
    </div>
  </li>
  }
  @if(rsp.body.nonEmpty) {
  <li>
    <div class="collapsible-header active">
      <i class="fa @models.template.Icons.url"></i> Response Body
    </div>
    <div class="collapsible-body">
      @rsp.body
    </div>
  </li>
  }
</ul>
