@(user: models.user.User)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: util.tracing.TraceData
)@traceData.logViewClass(getClass)@layout.admin(user, "status", util.Config.projectName + " Status") {
  <ul class="collection with-header">
    <li class="collection-header">
      <h5><i class="fa @models.template.Icons.sandbox"></i> Sandbox Tasks</h5>
    </li>
    @models.sandbox.SandboxTask.values.map { task =>
      <li class="collection-item">
        <div class="right">
          <form action="@controllers.admin.system.routes.SandboxController.run(task.id)">
            <input name="arg" placeholder="Run with argument" />
          </form>
        </div>
        <div><a class="theme-text" href="@controllers.admin.system.routes.SandboxController.run(task.id)">@task.name</a></div>
        <div>@task.description</div>
        <div class="clear"></div>
      </li>
    }
  </ul>
}
