@(user: models.user.User, result: models.sandbox.SandboxTask.Result)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: util.tracing.TraceData
)@traceData.logViewClass(getClass)@layout.admin(user = user, activeSection = "status", title = s"${result.task.name} Result") {
  <div class="row">
    <div class="col s12">
      <div class="collection with-header">
        <div class="collection-header">
          <h5>@result.task.name Result</h5>
          <em>@result.status: @{result.elapsed}ms</em>
        </div>
        <div class="collection-item">
          <pre class="sandbox-result" style="margin: 20px 0;">@result.result</pre>
        </div>
        <div class="collection-item">
          <form action="@controllers.admin.system.routes.SandboxController.run(result.task.id)">
            <input name="arg" value="@result.arg" placeholder="Argument" />
            <button class="btn theme" type="submit">Run Again</button>
          </form>
        </div>
      </div>
    </div>
  </div>
}
