@(user: models.user.User, activeSection: String)
@views.html.components.userDropdown(Some(user))

<header>
  @views.html.layout.themeStyles(user.preferences.theme)

  <nav id="topnav" class="theme">
    <a href="@controllers.routes.HomeController.home()" class="brand-logo center">@util.Config.projectName</a>

    <ul class="left hide-on-small-only">
      @if(activeSection == "explore") {
        <li class="active"><a class="dropdown-button" href="@controllers.admin.system.routes.AdminController.explore()" data-activates="dropdown-explore">Explore</a></li>
      } else {
        <li><a class="dropdown-button" href="@controllers.admin.system.routes.AdminController.explore()" data-activates="dropdown-explore">Explore</a></li>
      }
      @if(activeSection == "graphql") {
        <li class="active"><a href="@controllers.admin.graphql.routes.GraphQLController.graphql(None)">GraphQL</a></li>
      } else {
        <li><a href="@controllers.admin.graphql.routes.GraphQLController.graphql(None)">GraphQL</a></li>
      }
      @if(activeSection == "status") {
        <li class="active"><a href="@controllers.admin.system.routes.AdminController.status()">Status</a></li>
      } else {
        <li><a href="@controllers.admin.system.routes.AdminController.status()">Status</a></li>
      }
    </ul>

    <ul class="right hide-on-small-only nav-name">
      <li><a class="dropdown-button" href="@routes.ProfileController.view()" data-activates="dropdown-user">
        @user.username <i id="user-dropdown-toggle" class="fa @models.template.Icons.dropdownToggle right"></i>
      </a></li>
    </ul>

    <ul class="search-input input-field right">
      <form action="@controllers.admin.system.routes.SearchController.search()" method="get">
        <input id="search-input" name="q" type="search" />
        <label for="search-input">
          <i class="fa fa-search"></i>
        </label>
      </form>
    </ul>
  </nav>
</header>

<ul id="dropdown-explore" class="dropdown-content">
  <!-- Start model list routes -->
  <!-- End model list routes -->
  <li><a href="@controllers.admin.user.routes.UserController.list()"><i class="fa @models.template.Icons.user"></i> Users</a></li>
</ul>
