@(user: models.user.User, activeSection: String, title: String, scripts: Seq[String] = Nil)(content: Html)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.materialize(user = Some(user), title = title, scripts = scripts) {
  <header>
    @views.html.layout.themeStyles(user.preferences.theme)

    @views.html.components.userDropdown(Some(user))

    <nav id="topnav" class="theme">
      <a href="@controllers.routes.HomeController.home()" class="brand-logo center">@utils.Config.projectName</a>

      <ul class="left hide-on-small-only">
        @if(activeSection == "graphql") {
          <li class="active"><a href="@controllers.admin.graphql.routes.GraphQLController.graphql(None)">GraphQL</a></li>
        } else {
          <li><a href="@controllers.admin.graphql.routes.GraphQLController.graphql(None)">GraphQL</a></li>
        }
        @if(activeSection == "settings") {
          <li class="active"><a href="@controllers.admin.routes.SettingsController.settings()">Settings</a></li>
        } else {
          <li><a href="@controllers.admin.routes.SettingsController.settings()">Settings</a></li>
        }
        @if(activeSection == "users") {
          <li class="active"><a href="@controllers.admin.routes.UserEditController.users()">Users</a></li>
        } else {
          <li><a href="@controllers.admin.routes.UserEditController.users()">Users</a></li>
        }
        @if(activeSection == "status") {
          <li class="active"><a href="@controllers.admin.routes.AdminController.status()">Status</a></li>
        } else {
          <li><a href="@controllers.admin.routes.AdminController.status()">Status</a></li>
        }
      </ul>

      <ul class="right hide-on-small-only">
        <li><a class="dropdown-button" href="@routes.ProfileController.view()" data-activates="dropdown-user">
          @user.username <i id="user-dropdown-toggle" class="fa @models.template.Icons.dropdownToggle right"></i>
        </a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="static-container container">
      @flash.get("error").map { err =>
        <div class="flash-error z-depth-1">@err</div>
      }
      @flash.get("success").map { success =>
        <div class="flash-success z-depth-1">@success</div>
      }
      <div class="row">
        <div class="col s12">
          @content
        </div>
      </div>
    </div>
  </main>
}
