@(
  user: Option[models.user.User],
  title: String,
  scripts: Seq[String] = Nil,
  stylesheets: Seq[String] = Nil
)(content: Html)(implicit session: Session, flash: Flash, traceData: util.tracing.TraceData)<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:site_name" content="@util.Config.projectName" />
    <meta property="og:title" content="@title" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    @defining(user.map(_.preferences.theme).getOrElse(models.template.Theme.BlueGrey)) { theme =>
    <link id="favicon-link" rel="shortcut icon" type="image/png" href="@controllers.routes.Assets.versioned(s"images/ui/favicon/icon-$theme@2x.png")">
    }
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

    @for(script <- scripts) {<script src="@script"></script>}
    @for(stylesheet <- stylesheets) {<link rel="stylesheet" media="screen" href="@stylesheet" />}
  </head>
  <body>
    @content
  </body>
  <!-- Trace @traceData.span.context.traceId / @traceData.span.context.spanId (@traceData.span.context.sampled) -->
</html>
