@(
  title: String,
  scripts: Seq[String] = Nil,
  stylesheets: Seq[String] = Nil,
  bodyClass: Option[String] = None
)(content: Html)(implicit session: Session, flash: Flash)<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link id="favicon" rel="shortcut icon" type="image/png" href="/assets/images/ui/favicon/favicon.png" />
    @for(script <- scripts) {<script src="@script"></script>}
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/boilerplay.min.css")" />
    @for(stylesheet <- stylesheets) {<link rel="stylesheet" media="screen" href="@stylesheet" />}
  </head>
  <body@bodyClass.map(c => Html(" class=\"" + c + "\""))>@content
  </body>
</html>
