@(user: models.user.User, modelSeq: Seq[models.ddl.DdlFile])(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: util.tracing.TraceData
)@traceData.logViewClass(getClass)@views.html.admin.layout.page(user, "status", "DDL Files") {
  <ul class="collection with-header">
    <li class="collection-header">
      <h5>DDL Files</h5>
    </li>
    <li class="collection-item">
      <table class="bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>SQL</th>
            <th>Applied</th>
          </tr>
        </thead>
        <tbody>
          @modelSeq.map { model =>
            <tr>
              <td>@model.id</td>
              <td>@model.name</td>
              <td><pre>@model.sql</pre></td>
              <td>@model.applied</td>
            </tr>
          }
        </tbody>
      </table>
    </li>
  </ul>
}
