@(user: com.kyleu.projectile.models.user.SystemUser, cfg: com.kyleu.projectile.models.config.UiConfig, tasks: Seq[models.task.scheduled.ScheduledTask], syncs: Seq[models.sync.SyncProgressRow])(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@com.kyleu.projectile.views.html.layout.page("Scheduled Tasks", cfg) {
  <ul class="collection with-header">
    <li class="collection-header">
      <div class="right"><a href="@controllers.admin.system.routes.ScheduleController.run("all")">Run All</a></div>
      <h5>Scheduled Tasks</h5>
      @tasks.size scheduled tasks available. <a href="@controllers.admin.system.routes.ScheduleController.reset">Reset statuses</a>
    </li>
    @tasks.map { task =>
      <li class="collection-item">
        <div class="right">@syncs.find(_.key == task.key).map(_.lastTime).map(com.kyleu.projectile.util.DateUtils.niceDateTime).getOrElse("...")</div>
        <div><a href="@controllers.admin.system.routes.ScheduleController.run(task.key)">@task.title</a></div>
        @task.description.map { desc =>
          <em>@desc</em>
        }
      </li>
    }
  </ul>
}
