@(user: com.kyleu.projectile.models.user.SystemUser, results: Seq[models.task.ScheduledTaskRunRow])(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: com.kyleu.projectile.util.tracing.TraceData
)@traceData.logClass(getClass)@views.html.admin.layout.page(user = user, activeSection = "status", title = "Scheduled Task Result") {
  @if(results.isEmpty) {
    <div>No results...</div>
  }
  @results.map { result =>
    <div class="collection with-header">
      <div class="collection-header">
        <div class="right">@com.kyleu.projectile.util.DateUtils.niceDateTime(result.started)</div>
        <h5>[@result.task] Scheduled Task Result</h5>
        <em>@result.status: @{com.kyleu.projectile.util.DateUtils.toMillis(result.completed) - com.kyleu.projectile.util.DateUtils.toMillis(result.started)}ms</em>
      </div>
      <div class="collection-item">
        <pre>@io.circe.syntax.EncoderOps(result).asJson.spaces2</pre>
      </div>
    </div>
  }
}
