@(user: com.kyleu.projectile.models.user.SystemUser, authActions: com.kyleu.projectile.models.auth.AuthActions, tasks: Seq[models.task.scheduled.ScheduledTask], syncs: Seq[models.sync.SyncProgressRow])(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: com.kyleu.projectile.util.tracing.TraceData
)@traceData.logClass(getClass)@com.kyleu.projectile.views.html.admin.layout.page(user, authActions, "status", "Scheduled Tasks") {
  <ul class="collection with-header">
    <li class="collection-header">
      <div class="right"><a class="theme-text" href="@controllers.admin.system.routes.ScheduleController.run("all")">Run All</a></div>
      <h5><i class="fa @models.template.Icons.sandbox"></i> Scheduled Tasks</h5>
      @tasks.size scheduled tasks available. <a class="theme-text" href="@controllers.admin.system.routes.ScheduleController.reset">Reset statuses</a>
    </li>
    @tasks.map { task =>
      <li class="collection-item">
        <div class="right">@syncs.find(_.key == task.key).map(_.lastTime).map(com.kyleu.projectile.util.DateUtils.niceDateTime).getOrElse("...")</div>
        <div><a class="theme-text" href="@controllers.admin.system.routes.ScheduleController.run(task.key)">@task.title</a></div>
        @task.description.map { desc =>
          <em>@desc</em>
        }
      </li>
    }
  </ul>
}
