@(parent: Seq[String], children: Seq[(String, Seq[String])])(implicit request: Request[AnyContent], session: Session, flash: Flash)
<style>
  #file-options {
    font-family: system, -apple-system, 'San Francisco', '.SFNSDisplay-Regular', 'Segoe UI', Segoe, 'Segoe WP', 'Helvetica Neue', helvetica, 'Lucida Grande', arial, sans-serif;
    display: none;
    float: left;
    width: 240px;
    background-color: #607d8b;
    height: 100vh;
    color: #fff;
    overflow: auto;
  }
  .options-header {
    font-size: 18px;
    font-family: system, -apple-system, 'San Francisco', '.SFNSDisplay-Regular', 'Segoe UI', Segoe, 'Segoe WP', 'Helvetica Neue', helvetica, 'Lucida Grande', arial, sans-serif;
    margin-top: 14px;
    margin-left: 12px;
  }
  .save-container {
    margin: 12px 0 0 12px;
  }
  .query-link {
    color: #fff;
    text-decoration: none;
  }

  #graphiql.padded {
    height: 100vh;
    padding-left: 240px;
  }

  .save-dir-input, .save-name-input {
    width: 80px;
  }

  .section-header {
    padding-left: 10px;
  }

  ul {
    margin: 2px 0 6px 0;
  }
</style>

<div id="file-options">
  <div class="options-header">File Options</div>

  <div class="save-container">
    <form action="@controllers.admin.routes.GraphQLController.save" method="post">
      <input class="save-body-input" name="body" type="hidden" />
      <input class="save-dir-input" name="dir" type="text" maxlength="64" placeholder="Directory" />
      <input class="save-name-input" name="name" type="text" maxlength="64" placeholder="Query Name" />
      <button class="save-button">Save</button>
    </form>
  </div>

  <div class="query-list">
    <ul>
      @parent.map { q =>
        <li><a class="query-link" href="@controllers.admin.routes.GraphQLController.load(None, q)">@q</a></li>
      }
    </ul>
    @children.map { files =>
      <div class="section-header">@files._1</div>
      <ul>
        @files._2.map { q =>
          <li><a class="query-link" href="@controllers.admin.routes.GraphQLController.load(Some(files._1), q)">@q</a></li>
        }
      </ul>
    }
  </div>
</div>
