@import com.kyleu.projectile.models.user.SystemUser
@(user: SystemUser, activeSection: String)
@views.html.components.userDropdown(Some(user))

<header>
  <nav id="topnav" class="theme">
    <a href="@controllers.routes.HomeController.home()" class="brand-logo center">@util.Config.projectName</a>

    <ul class="left hide-on-small-only">
      @if(activeSection == "explore") {
        <li class="active"><a class="dropdown-trigger" href="@controllers.admin.system.routes.AdminController.explore()" data-target="dropdown-explore">Explore</a></li>
      } else {
        <li><a class="dropdown-trigger" href="@controllers.admin.system.routes.AdminController.explore()" data-target="dropdown-explore">Explore</a></li>
      }
      @if(activeSection == "graphql") {
        <li class="active"><a href="@controllers.admin.graphql.routes.GraphQLController.graphql()">GraphQL</a></li>
      } else {
        <li><a href="@controllers.admin.graphql.routes.GraphQLController.graphql()">GraphQL</a></li>
      }
      @if(activeSection == "rest") {
        <li class="active"><a href="@controllers.admin.rest.routes.OpenApiController.ui()">Rest</a></li>
      } else {
        <li><a href="@controllers.admin.rest.routes.OpenApiController.ui()">Rest</a></li>
      }
      @if(activeSection == "status") {
        <li class="active"><a href="@controllers.admin.system.routes.AdminController.status()">Status</a></li>
      } else {
        <li><a href="@controllers.admin.system.routes.AdminController.status()">Status</a></li>
      }
    </ul>

    <ul class="right hide-on-small-only nav-name">
      <li><a class="dropdown-trigger" href="@routes.ProfileController.view()" data-target="dropdown-user">
        @user.username <i id="user-dropdown-toggle" class="fa @models.template.Icons.dropdownToggle right"></i>
      </a></li>
    </ul>

    <div class="search-input input-field right">
      <form action="@controllers.admin.system.routes.SearchController.search()" method="get">
        <input id="search-input" name="q" type="search" />
        <label for="search-input">
          <i class="fa fa-search"></i>
        </label>
      </form>
    </div>
  </nav>
</header>

<ul id="dropdown-explore" class="dropdown-content">
  <!-- Start model list routes -->
  <!-- Projectile export section [boilerplay] -->
  <li><a href="@controllers.admin.audit.routes.AuditRowController.list()"><i class="fa @models.template.Icons.auditRow"></i> Audit</a></li>
  <li><a href="@controllers.admin.audit.routes.AuditRecordRowController.list()"><i class="fa @models.template.Icons.auditRecordRow"></i> Audit Record</a></li>
  <li><a href="@controllers.admin.ddl.routes.FlywaySchemaHistoryRowController.list()"><i class="fa @models.template.Icons.flywaySchemaHistoryRow"></i> Flyway Schema History</a></li>
  <li><a href="@controllers.admin.note.routes.NoteRowController.list()"><i class="fa @models.template.Icons.noteRow"></i> Note</a></li>
  <li><a href="@controllers.admin.task.routes.ScheduledTaskRunRowController.list()"><i class="fa @models.template.Icons.scheduledTaskRunRow"></i> Scheduled Task Run</a></li>
  <li><a href="@controllers.admin.settings.routes.SettingController.list()"><i class="fa @models.template.Icons.setting"></i> Setting</a></li>
  <li><a href="@controllers.admin.sync.routes.SyncProgressRowController.list()"><i class="fa @models.template.Icons.syncProgressRow"></i> Sync Progress</a></li>
  <li><a href="@controllers.admin.user.routes.SystemUserRowController.list()"><i class="fa @models.template.Icons.systemUserRow"></i> System User</a></li>
  <!-- End model list routes -->
</ul>

<script>
  $(function() {
    $(".dropdown-trigger").dropdown();
  });
</script>
