@(user: models.user.User)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.simple(Some(user), util.Config.projectName) {
  <form id="change-password-form" action="@controllers.routes.ProfileController.changePassword" method="post">
    <div class="row">
      <div class="col s12">
        <div class="content-panel">
          <span class="panel-title">Change Password</span>
          <div class="row">
            <div class="input-field col s12">
              <input id="input-password-old" type="password" class="form-control validate" name="old" value="" />
              <label for="input-password-old">Current Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="input-password-new" type="password" class="form-control validate" name="new" value="" />
              <label for="input-password-new">New Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="input-password-confirm" type="password" class="form-control validate" name="confirm" value="" />
              <label for="input-password-confirm">Confirm New Password</label>
            </div>
          </div>
        </div>
        <div class="panel-action">
          <button class="right btn theme waves-effect waves-light" type="submit">Change Password</button>
          <a class="right btn-flat theme-text" href="@controllers.routes.ProfileController.view()">Cancel</a>
          <div style="clear: both;"></div>
        </div>
      </div>
    </div>
  </form>
}
