@(user: models.user.RichUser)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.simple(Some(user), util.Config.projectName) {
  <form id="profile-form" action="" method="post">
    <div class="row">
      <div class="col s12">
        <div class="">
          <div class="content-panel">
            <div class="right">
              <a class="theme-text" href="@controllers.routes.ProfileController.changePasswordForm">Change Password</a>
            </div>
            <span class="panel-title"><i class="fa @models.template.Icons.user"></i> Profile</span>
            <div class="profile-container">
              <div class="row">
                <div class="input-field col s12">
                  <input id="input-username" type="text" class="form-control validate" name="username" value="@user.username" />
                  <label for="input-username" class="theme-text">Username</label>
                </div>
              </div>
              <input id="input-theme" type="hidden" class="" name="theme" value="@user.preferences.theme" />
              <label for="input-theme" class="theme-text">Theme</label>
              <div id="theme-choices">
                @models.template.Theme.values.map { t =>
                  <div id="swatch-@t" class="swatch z-depth-1" data-name="@t" data-color="@t.color" style="background-color : @t.color;">
                    <i class="indicator fa @models.template.Icons.check white-text"></i>
                  </div>
                }
              </div>
            </div>
          </div>
          <div class="panel-action">
            <button id="save-button" class="right btn theme waves-effect waves-light" type="submit">Save</button>
            <a class="right btn-flat theme-text" href="@controllers.routes.HomeController.home()">Cancel</a>
            <div style="clear: both;"></div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <script>
    $(function() {
      var activeSwatch = '@user.preferences.theme';

      $(".swatch").click(function(e) {
        var el = $(e.currentTarget);
        var newSwatch = el.data('name');
        var newSwatchColor = el.data('color');
        console.log(newSwatchColor);
        $('#swatch-' + activeSwatch).removeClass('active');
        el.addClass('active');

        $('nav')[0].style.setProperty("background-color", newSwatchColor, "important");
        //$('footer')[0].style.setProperty("background-color", newSwatchColor, "important");
        $('#save-button')[0].style.setProperty('background-color', newSwatchColor, 'important');
        $('#input-theme').val(newSwatch);
        $('#favicon-link').attr('href', '/assets/images/ui/favicon/icon-' + newSwatch + '@@2x.png');
        activeSwatch = newSwatch;
      });
      $('#swatch-' + activeSwatch).addClass('active');

      $('select').material_select();
    });
  </script>
}
