@import com.kyleu.projectile.models.user.SystemUser
@(user: SystemUser)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: com.kyleu.projectile.util.tracing.TraceData
)@traceData.logClass(getClass)@layout.simple(Some(user), util.Config.projectName) {
  <form id="profile-form" action="" method="post">
    <div class="row">
      <div class="col s12">
        <div class="right">
          <a class="theme-text" href="@controllers.routes.ProfileController.changePasswordForm">Change Password</a>
        </div>
        <h5><i class="fa @models.template.Icons.systemUserRow"></i> Profile</h5>
        <div class="profile-container">
          <div class="row">
            <div class="input-field col s12">
              <input id="input-username" type="text" class="form-control validate" name="username" value="@user.username" />
              <label for="input-username" class="theme-text">Username</label>
            </div>
          </div>
        </div>
        <div>
          <button id="save-button" class="right btn theme waves-effect waves-light" type="submit">Save</button>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </form>
}
