@(user: models.user.SystemUser)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: util.tracing.TraceData
)@traceData.logClass(getClass)@views.html.admin.layout.page(user, "explore", "Explore " + util.Config.projectName) {
  <ul class="collection with-header">
    <li class="collection-header">
      <h5>Explore @util.Config.projectName. </h5>
    </li>
    <!-- Start model list routes -->
    <!-- Projectile export section [boilerplay] -->
    <li class="collection-item">
      <a class="theme-text" href="@controllers.admin.audit.routes.AuditController.list()"><i class="fa @models.template.Icons.audit"></i> Audits</a>
      <div><em>Manage the Audits of the system.</em></div>
    </li>
    <li class="collection-item">
      <a class="theme-text" href="@controllers.admin.audit.routes.AuditRecordController.list()"><i class="fa @models.template.Icons.auditRecord"></i> Audit Records</a>
      <div><em>Manage the Audit Records of the system.</em></div>
    </li>
    <li class="collection-item">
      <a class="theme-text" href="@controllers.admin.ddl.routes.FlywaySchemaHistoryController.list()"><i class="fa @models.template.Icons.flywaySchemaHistory"></i> Flyway Schema Histories</a>
      <div><em>Manage the Flyway Schema Histories of the system.</em></div>
    </li>
    <li class="collection-item">
      <a class="theme-text" href="@controllers.admin.note.routes.NoteController.list()"><i class="fa @models.template.Icons.note"></i> Notes</a>
      <div><em>Manage the Notes of the system.</em></div>
    </li>
    <li class="collection-item">
      <a class="theme-text" href="@controllers.admin.task.routes.ScheduledTaskRunController.list()"><i class="fa @models.template.Icons.scheduledTaskRun"></i> Scheduled Task Runs</a>
      <div><em>Manage the Scheduled Task Runs of the system.</em></div>
    </li>
    <li class="collection-item">
      <a class="theme-text" href="@controllers.admin.settings.routes.SettingController.list()"><i class="fa @models.template.Icons.setting"></i> Settings</a>
      <div><em>Manage the Settings of the system.</em></div>
    </li>
    <li class="collection-item">
      <a class="theme-text" href="@controllers.admin.sync.routes.SyncProgressController.list()"><i class="fa @models.template.Icons.syncProgress"></i> Sync Progresses</a>
      <div><em>Manage the Sync Progresses of the system.</em></div>
    </li>
    <li class="collection-item">
      <a class="theme-text" href="@controllers.admin.user.routes.SystemUserController.list()"><i class="fa @models.template.Icons.systemUser"></i> System Users</a>
      <div><em>Manage the System Users of the system.</em></div>
    </li>
    <!-- End model list routes -->
  </ul>
}
