@(
    user: models.user.User,
    model: String,
    modelPlural: String,
    icon: String,
    cols: Seq[(String, String)],
    orderBy: Option[String] = None,
    orderAsc: Boolean = true,
    rows: Seq[Html],
    totalCount: Option[Int] = None,
    newUrl: Option[Call] = None,
    orderByUrl: Option[(Option[String], Boolean) => Call] = None,
    searchUrl: Option[Call] = None,
    nextUrl: Call,
    limit: Int = 100,
    offset: Int = 0,
    section: String = "explore",
    q: Option[String] = None
)(implicit request: Request[AnyContent], session: Session, flash: Flash)
@layout.admin(user, section, s"$model Management") {
  <div class="collection with-header">
    <div class="collection-header">
      @searchUrl.map { search =>
        <div class="right">
          <form action="@search" method="get">
            <input type="text" name="q" placeholder="Search @modelPlural" value="@q.getOrElse("")" />
          </form>
        </div>
      }
      <h5>
        <i class="fa @icon" style="margin-right: 6px;"></i>
        @totalCount.map { total =>
          @util.NumberUtils.withCommas(total)
        }
        @{modelPlural}
        @q.map { query =>
          @if(query.trim.nonEmpty) {
            matching [@query]
          }
        }
      </h5>
      @if(offset > 0) {
        <em>Page @((offset / limit) + 1) </em>
      }
      @newUrl.map { nu =>
        (<a class="theme-text" href="@nu">add new</a>)
      }
    </div>
    <div class="collection-item">
      <table>
        <thead>
        @cols.map { col =>
          @orderByUrl.map { u =>
            @if(orderBy.contains(col._1)) {
              @if(orderAsc) {
                <th><a href="@u(Some(col._1), !orderAsc)" class="theme-text">@col._2 <i class="fa @models.template.Icons.sortAsc"></i></a></th>
              } else {
                <th><a href="@u(Some(col._1), !orderAsc)" class="theme-text">@col._2 <i class="fa @models.template.Icons.sortDesc"></i></a></th>
              }
            } else {
              <th><a href="@u(Some(col._1), true)" class="theme-text">@col._2</a></th>
            }
          }
          @if(orderByUrl.isEmpty) {
            <th>@col._2</th>
          }
        }
        </thead>
        <tbody>
          @rows.map { row =>
            @row
          }
          @if(rows.isEmpty) {
            <th colspan="@cols.length">
              The system isn't managing any @{modelPlural.toLowerCase}.
            </th>
          }

        </tbody>
      </table>
    </div>
  </div>
  @if(rows.size >= limit) {
    <div  style="text-align: center;"><a href="@nextUrl" class="theme-text">Next Page</a></div>
  }
}
