@(
    user: models.user.User,
    model: String,
    modelPlural: String,
    icon: String,
    cols: Seq[(String, String)],
    totalCount: Option[Int] = None,
    rows: Seq[Html],
    orderBy: Option[String] = None,
    orderAsc: Boolean = true,
    newUrl: Option[Call] = None,
    orderByUrl: Option[(Option[String], Boolean) => Call] = None,
    searchUrl: Option[Call] = None,
    nextUrl: Call,
    limit: Int = 100,
    offset: Int = 0,
    section: String = "explore",
    q: Option[String] = None,
    fullUI: Boolean = true
)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: util.tracing.TraceData
)@traceData.logViewClass(getClass)@if(fullUI) {
  @layout.admin(user, section, s"$model Management") {
    <div class="collection with-header">
      <div class="collection-header">
        @searchUrl.map { search =>
          <div class="right">
            <form action="@search" method="get">
              <input type="text" name="q" placeholder="Search @modelPlural" value="@q.getOrElse("")" />
            </form>
          </div>
        }
        <h5>
          <i class="fa @icon" style="margin-right: 6px;"></i>
          @totalCount.map { total =>
            @util.NumberUtils.withCommas(total)
          }
          @{modelPlural}
          @q.map { query =>
            @if(query.trim.nonEmpty) {
              matching [@query]
            }
          }
        </h5>
        @if(offset > 0) {
          <em>Page @((offset / limit) + 1) </em>
        }
        @newUrl.map { nu =>
          (<a class="theme-text" href="@nu">add new</a>)
        }
      </div>
      <div class="collection-item">
      @views.html.admin.explore.listTable(cols, rows, modelPlural, orderByUrl, orderBy, orderAsc)
      </div>
    </div>
    @if(rows.size >= limit) {
      <div style="text-align: center;"><a class="next-link theme-text" href="@nextUrl">Next Page</a></div>
    }
  }
} else {
  @views.html.admin.explore.listTable(cols, rows, modelPlural, orderByUrl, orderBy, orderAsc)
  @if(rows.size >= limit) {
    <div style="text-align: right"><a class="next-link theme-text" href="@nextUrl">Next Page</a></div>
  }
}
